Repository raulpe7eira/course-rocketseat-elixir: changes, and which Codecov flags are due for each by the changed paths.
All: chapter_iii-module_4-daily_meals, chapter_iii-module_4-rockelivery, chapter_iv-module_5-daily_meals, chapter_iv-module_5-rockelivery, chapter_iv-module_6-codex, chapter_iv-module_6-rockelivery, chapter_v-module_7-codex, chapter_v-module_7-rockelivery, chapter_v-module_8-queue, chapter_v-module_8-rockelivery, chapter_vi-module_9-rockelivery

ci: set badge codecov in readme projects
  .github/workflows/chapter_i-module_1-list_filter.yml
  .github/workflows/chapter_i-module_1-list_length.yml
  .github/workflows/chapter_i-module_1-sum_list.yml
  .github/workflows/chapter_i-module_2-reports_generator.yml
  .github/workflows/chapter_i-module_2-reports_hours.yml
  .github/workflows/chapter_i-module_2-reports_hours_parallel.yml
  .github/workflows/chapter_ii-module_3-exlivery.yml
  .github/workflows/chapter_ii-module_3-flightex.yml
  .github/workflows/chapter_iii-module_4-daily_meals.yml
  .github/workflows/chapter_iii-module_4-rockelivery.yml
  .github/workflows/chapter_iv-module_5-daily_meals.yml
  .github/workflows/chapter_iv-module_5-rockelivery.yml
  .github/workflows/chapter_iv-module_6-codex.yml
  .github/workflows/chapter_iv-module_6-rockelivery.yml
  .github/workflows/chapter_v-module_7-codex.yml
  .github/workflows/chapter_v-module_7-rockelivery.yml
  .github/workflows/chapter_v-module_8-queue.yml
  .github/workflows/chapter_v-module_8-rockelivery.yml
  .github/workflows/chapter_vi-module_9-rockelivery.yml
  chapter-iii/module-4/daily_meals/README.md
  chapter-iii/module-4/rockelivery/README.md
  chapter-iv/module-5/daily_meals/README.md
  chapter-iv/module-5/rockelivery/README.md
  chapter-iv/module-6/codex/README.md
  chapter-iv/module-6/rockelivery/README.md
  chapter-v/module-7/codex/README.md
  chapter-v/module-7/rockelivery/README.md
  chapter-v/module-8/queue/README.md
  chapter-v/module-8/rockelivery/README.md
  chapter-vi/module-9/rockelivery/README.md
  codecov.yaml
Due: chapter_iii-module_4-daily_meals, chapter_iii-module_4-rockelivery, chapter_iv-module_5-daily_meals, chapter_iv-module_5-rockelivery, chapter_iv-module_6-codex, chapter_iv-module_6-rockelivery, chapter_v-module_7-codex, chapter_v-module_7-rockelivery, chapter_v-module_8-queue, chapter_v-module_8-rockelivery, chapter_vi-module_9-rockelivery

ci: set badge codecov in main readme
  README.md
Due: none

ci: update workflows
  .github/workflows/chapter_iii-module_4-daily_meals.yml
  .github/workflows/chapter_iii-module_4-rockelivery.yml
  .github/workflows/chapter_iv-module_5-daily_meals.yml
  .github/workflows/chapter_iv-module_5-rockelivery.yml
  .github/workflows/chapter_iv-module_6-codex.yml
  .github/workflows/chapter_iv-module_6-rockelivery.yml
  .github/workflows/chapter_v-module_7-codex.yml
  .github/workflows/chapter_v-module_7-rockelivery.yml
  .github/workflows/chapter_v-module_8-queue.yml
  .github/workflows/chapter_v-module_8-rockelivery.yml
  .github/workflows/chapter_vi-module_9-rockelivery.yml
Due: none

ci: update rename codecov yaml
  .codecov.yml
Due: none

ci: mov codecov file
  .github/.codecov.yml
Due: none

ci: improves codecov with multiproject
  .github/.codecov.yml
  .github/workflows/chapter_iii-module_4-daily_meals.yml
  .github/workflows/chapter_iii-module_4-rockelivery.yml
  .github/workflows/chapter_iv-module_5-daily_meals.yml
  .github/workflows/chapter_iv-module_5-rockelivery.yml
  .github/workflows/chapter_iv-module_6-codex.yml
  .github/workflows/chapter_iv-module_6-rockelivery.yml
  .github/workflows/chapter_v-module_7-codex.yml
  .github/workflows/chapter_v-module_7-rockelivery.yml
  .github/workflows/chapter_v-module_8-queue.yml
  .github/workflows/chapter_v-module_8-rockelivery.yml
  .github/workflows/chapter_vi-module_9-rockelivery.yml
Due: none

ci: improves the time of running workflow
  .github/.codecov.yml
  .github/workflows/chapter_i-module_1-list_filter.yml
  .github/workflows/chapter_i-module_1-list_length.yml
  .github/workflows/chapter_i-module_1-sum_list.yml
  .github/workflows/chapter_i-module_2-reports_generator.yml
  .github/workflows/chapter_i-module_2-reports_hours.yml
  .github/workflows/chapter_i-module_2-reports_hours_parallel.yml
  .github/workflows/chapter_ii-module_3-exlivery.yml
  .github/workflows/chapter_ii-module_3-flightex.yml
  .github/workflows/chapter_iii-module_4-daily_meals.yml
  .github/workflows/chapter_iii-module_4-rockelivery.yml
  .github/workflows/chapter_iv-module_5-daily_meals.yml
  .github/workflows/chapter_iv-module_5-rockelivery.yml
  .github/workflows/chapter_iv-module_6-codex.yml
  .github/workflows/chapter_iv-module_6-rockelivery.yml
  .github/workflows/chapter_v-module_7-codex.yml
  .github/workflows/chapter_v-module_7-rockelivery.yml
  .github/workflows/chapter_v-module_8-queue.yml
  .github/workflows/chapter_v-module_8-rockelivery.yml
  .github/workflows/chapter_vi-module_9-rockelivery.yml
Due: none

ci: rockelivery - fix coveralls.json
  .github/.codecov.yml
  .github/workflows/chapter_iii-module_4-daily_meals.yml
  .github/workflows/chapter_iii-module_4-rockelivery.yml
  .github/workflows/chapter_iv-module_5-daily_meals.yml
  .github/workflows/chapter_iv-module_5-rockelivery.yml
  .github/workflows/chapter_iv-module_6-codex.yml
  .github/workflows/chapter_iv-module_6-rockelivery.yml
  .github/workflows/chapter_v-module_7-codex.yml
  .github/workflows/chapter_v-module_7-rockelivery.yml
  .github/workflows/chapter_v-module_8-queue.yml
  .github/workflows/chapter_v-module_8-rockelivery.yml
  .github/workflows/chapter_vi-module_9-rockelivery.yml
  chapter-iii/module-4/rockelivery/coveralls.json
  chapter-iv/module-5/rockelivery/coveralls.json
  chapter-iv/module-6/rockelivery/coveralls.json
  chapter-v/module-7/rockelivery/coveralls.json
  chapter-v/module-8/rockelivery/coveralls.json
  chapter-vi/module-9/rockelivery/coveralls.json
Due: chapter_iii-module_4-rockelivery, chapter_iv-module_5-rockelivery, chapter_iv-module_6-rockelivery, chapter_v-module_7-rockelivery, chapter_v-module_8-rockelivery, chapter_vi-module_9-rockelivery

ci: supports action to multi-project
  .github/.codecov.yml
  .github/workflows/chapter_i-module_1-list_filter.yml
  .github/workflows/chapter_i-module_1-list_length.yml
  .github/workflows/chapter_i-module_1-sum_list.yml
  .github/workflows/chapter_i-module_2-reports_generator.yml
  .github/workflows/chapter_i-module_2-reports_hours.yml
  .github/workflows/chapter_i-module_2-reports_hours_parallel.yml
  .github/workflows/chapter_ii-module_3-exlivery.yml
  .github/workflows/chapter_ii-module_3-flightex.yml
  .github/workflows/chapter_iii-module_4-daily_meals.yml
  .github/workflows/chapter_iii-module_4-rockelivery.yml
  .github/workflows/chapter_iv-module_5-daily_meals.yml
  .github/workflows/chapter_iv-module_5-rockelivery.yml
  .github/workflows/chapter_iv-module_6-codex.yml
  .github/workflows/chapter_iv-module_6-rockelivery.yml
  .github/workflows/chapter_v-module_7-codex.yml
  .github/workflows/chapter_v-module_7-rockelivery.yml
  .github/workflows/chapter_v-module_8-queue.yml
  .github/workflows/chapter_v-module_8-rockelivery.yml
  .github/workflows/chapter_vi-module_9-rockelivery.yml
  .github/workflows/ci-multi-projects.yml
Due: none

ci: update codecov yml
  .github/.codecov.yml
Due: none

ci: rename github action workflow
  .github/workflows/ci-multi-project.yml
Due: none

cd: set release config
  chapter-vi/module-9/rockelivery/config/releases.exs
  chapter-vi/module-9/rockelivery/elixir_buildpack.config
Due: chapter_vi-module_9-rockelivery

cd: add seeds
  chapter-vi/module-9/rockelivery/priv/repo/seeds.exs
Due: chapter_vi-module_9-rockelivery

cd: setup deploy in github action workflow
  .github/workflows/ci_cd-multi_project.yml
Due: none

cd: add basic dockerfile
  chapter-vi/module-9/rockelivery/Dockerfile
Due: chapter_vi-module_9-rockelivery

update main readme
  README.md
Due: none

cd: fix elixir buildpack config
  chapter-vi/module-9/rockelivery/elixir_buildpack.config
Due: chapter_vi-module_9-rockelivery

ci-cd: improves workflow
  .github/workflows/ci_cd-multi_project.yml
Due: none

ci-cd: fix and improves readmes
  chapter-iii/module-4/daily_meals/README.md
  chapter-iii/module-4/rockelivery/README.md
  chapter-iv/module-5/daily_meals/README.md
  chapter-iv/module-5/rockelivery/README.md
  chapter-iv/module-6/rockelivery/README.md
  chapter-v/module-7/codex/README.md
  chapter-v/module-7/rockelivery/README.md
  chapter-v/module-8/rockelivery/README.md
  chapter-vi/module-9/rockelivery/README.md
  chapter-vi/module-9/rockelivery/config/releases.exs
Due: chapter_iii-module_4-daily_meals, chapter_iii-module_4-rockelivery, chapter_iv-module_5-daily_meals, chapter_iv-module_5-rockelivery, chapter_iv-module_6-rockelivery, chapter_v-module_7-codex, chapter_v-module_7-rockelivery, chapter_v-module_8-rockelivery, chapter_vi-module_9-rockelivery

update readme
  chapter-vi/module-9/rockelivery/README.md
Due: chapter_vi-module_9-rockelivery

ci-cd: improves build
  .github/workflows/ci_cd-multi_project.yml
Due: none

improves workflow
  .github/workflows/ci_cd-multi_project.yml
  .github/workflows/matrix.json
Due: none

fix cd
  .github/workflows/ci_cd-multi_project.yml
  .github/workflows/matrix.json
  chapter-i/module-2/reports_hours/test/reports_hours_test.exs
  chapter-i/module-2/reports_hours_parallel/test/reports_hours_parallel_test.exs
  chapter-vi/module-9/rockelivery/README.md
Due: chapter_vi-module_9-rockelivery

fix migration
  .gitignore
  chapter-vi/module-9/rockelivery/README.md
Due: chapter_vi-module_9-rockelivery

change to oficial gigalixir-action
  .github/workflows/ci_cd-multi_project.yml
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  chapter_iii-module_4-daily_meals: any of: chapter-iii/module-4/daily_meals
  chapter_iii-module_4-rockelivery: any of: chapter-iii/module-4/rockelivery
  chapter_iv-module_5-daily_meals: any of: chapter-iv/module-5/daily_meals
  chapter_iv-module_5-rockelivery: any of: chapter-iv/module-5/rockelivery
  chapter_iv-module_6-codex: any of: chapter-iv/module-6/codex
  chapter_iv-module_6-rockelivery: any of: chapter-iv/module-6/rockelivery
  chapter_v-module_7-codex: any of: chapter-v/module-7/codex
  chapter_v-module_7-rockelivery: any of: chapter-v/module-7/rockelivery
  chapter_v-module_8-queue: any of: chapter-v/module-8/queue
  chapter_v-module_8-rockelivery: any of: chapter-v/module-8/rockelivery
  chapter_vi-module_9-rockelivery: any of: chapter-vi/module-9/rockelivery
